.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  height: 100vh;
  width: 100vw;
}

.carousel-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.current-carousel {
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
}

.non-current-carousel {
  background-color: grey;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 10px;
  opacity: 0.5;
}

.non-current-carousel:hover {
  opacity: 1;
}
.dots-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-image {
  border-radius: 50%;
}

.cardView-container {
  background: linear-gradient(rgb(247, 245, 245), grey);
  border-radius: 20px;
  box-shadow: 5px 5px 10px grey;
  padding: 20px;
  width: 400px;
  height: 400px;
}

.arrows {
  opacity: 0.5;
  font-size: 70px;
  color: grey;
  cursor: pointer;
}

.arrows:hover {
  opacity: 1;
}
